*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.center  {
    /* background-color: aqua; */
    /* color: white; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    height: 50px;
    /* align-items: center; */
    /* width: 30px; */
    /* border: 3px solid green; */
}


header {
    background-color: black;
}

button {
    color : white;
    margin-top: 15px;
    
}

ul {
    list-style: none;          /* This property is used to remove the styling/bullets from the list items*/
    margin-bottom: 100px;
    padding: 20px;
}

li {
    display: inline;
    margin: 100px;
}

li a {
    color:#fff;
    text-decoration: none;
}

.featuredImages {
    
}
